backend/xsd/3.1.0/xdomea-Typen-AussonderungDurchfuehren.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xdomea="urn:xoev-de:xdomea:schema:3.1.0"
           targetNamespace="urn:xoev-de:xdomea:schema:3.1.0"
           version="3.1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>xdomea - XÖV-Standard für den IT-gestützten Austausch und die IT-gestützte Aussonderung behördlichen Schriftgutes</nameLang>
            <nameKurz>xdomea</nameKurz>
            <nameTechnisch>xdomea</nameTechnisch>
            <kennung>urn:xoev-de:xdomea:kosit:standard:xdomea</kennung>
            <beschreibung>xdomea ist der vom IT-Planungsrat verabschiedete verbindliche Standard für den Austausch von Akten, Vorgängen und Dokumenten im Kontext der Übermittlung, der Abgabe sowie der Aussonderung von Schriftgutobjekten (www.it-planungsrat.de, Beschluss 2017/39). Weiterhin kann xdomea für den Austausch zwischen Fachverfahren und DMS/VBS sowie für die Zwischenarchivierung genutzt werden. 

Um diese Anwendungsszenarien bestmöglich zu unterstützen, ist xdomea gemäß des XÖV-Rahmenwerkes nach dem Baukastenprinzip aufgebaut und bietet einzelne Nachrichten(gruppen) für die jeweiligen Prozesse an. 

Der Standard xdomea wird von der gleichnamigen Arbeitsgruppe des IT-Planungsrates weiterentwickelt und gepflegt. Der Betrieb des Standards erfolgt durch die Koordinierungsstelle für IT-Standards (KoSIT).
</beschreibung>
         </standard>
         <versionStandard>
            <version>3.1.0</version>
            <beschreibung>Die Version 3.0.0 ist durch den IT-Planungsrat beschlossen. Details zum Beschluss sowie zu den Fristen der Umsetzung sind der Veröffentlichung im Bundesanzeiger unter www.bundesanzeiger.de zu entnehmen. Die Version 3.1.0 enthält die Umsetzung eines technischen Issues zur Nachricht 0511 sowie weitere redaktionelle Klarstellungen. Ebenso wurde auf die aktuelle XÖV-Konfiguration 3.0.0 umgestellt.</beschreibung>
            <versionXOEVProfil>3.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>3.0.0</versionXOEVHandbuch>
            <versionXGenerator>3.1.0</versionXGenerator>
            <versionModellierungswerkzeug>19.0</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xdomea-Baukasten.xsd"/>
   <xs:complexType name="AktenplanBewertungType">
      <xs:annotation>
         <xs:appinfo>
            <title>AktenplanBewertung</title>
         </xs:appinfo>
         <xs:documentation>Der Aktenplan enthält ein aufgabenbezogenes mehrstufiges Ordnungssystem mit einer hierarchischen Gliederung für das Bilden und Kennzeichnen von Akten und Vorgängen sowie das Zuordnen von Dokumenten.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ID" type="xdomea:stringUUIDType">
            <xs:annotation>
               <xs:documentation>Die UUID des Aktenplans.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Bezeichnung" type="xs:string">
            <xs:annotation>
               <xs:documentation>Der Name des Aktenplans.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Typ" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation>Der Typ des Aktenplans, z.B. Teilaktenplan.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Version" type="xs:string">
            <xs:annotation>
               <xs:documentation>Die Version des Aktenplans.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Einheit"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xdomea:AktenplaneinheitAktenplanBewertungType">
            <xs:annotation>
               <xs:documentation>Die Einheit eines Aktenplans, die Auskunft über die hierarchische Strukturierung eines Aktenplans gibt. Eine Aktenplanheit entspricht z.B. einer Hauptgruppe, Obergruppe, Gruppe, Untergruppe oder Betreffseinheit.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Gueltigkeit" minOccurs="0" type="xdomea:ZeitraumType">
            <xs:annotation>
               <xs:documentation>Die Gültigkeit des Aktenplans mit Beginn und Ende.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Aktenplandatei"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xdomea:FormatType">
            <xs:annotation>
               <xs:documentation>Die Datei zum Aktenplan als Primärdokument.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AktenplaneinheitAktenplanBewertungType">
      <xs:annotation>
         <xs:appinfo>
            <title>AktenplaneinheitAktenplanBewertung</title>
         </xs:appinfo>
         <xs:documentation>Eine Aktenplaneinheit gibt Auskunft über die hierarchische Strukturierung eines Aktenplans. Eine Aktenplanheit entspricht z.B. einer Hauptgruppe, Obergruppe, Gruppe, Untergruppe oder Betreffseinheit. Zusätzlich zu allgemeinen Metadaten einer Aktenplaneinheit werden auch diejenigen Daten angegeben, die für eine Bewertung relevant sind.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xdomea:AktenplaneinheitType">
            <xs:sequence>
               <xs:element name="ID" type="xdomea:stringUUIDType">
                  <xs:annotation>
                     <xs:documentation>Die UUID der Aktenplaneinheit.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Aussonderungsart" type="xdomea:AussonderungsartType">
                  <xs:annotation>
                     <xs:appinfo>
                        <implementationHint>Die Aussonderungsart vererbt sich auf alle unter einer Hierarchiestufe angelegten Schriftgutobjekte.</implementationHint>
                     </xs:appinfo>
                     <xs:documentation>Die Aussonderungsart gibt für eine Akte oder einen Vorgang das Ergebnis der archivischen Bewertung an. Die Aussonderungsart wird vom Aktenplan (zweistufiges Aussonderungsverfahren) auf zugehörige Vorgänge und Dokumente vererbt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Gueltigkeit" minOccurs="0" type="xdomea:ZeitraumType">
                  <xs:annotation>
                     <xs:documentation>Die Gültigkeit einer Aktenplaneinheit in einem Aktenplan.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Stillgelegt" type="xs:boolean">
                  <xs:annotation>
                     <xs:appinfo>
                        <implementationHint>Für die Umsetzung in den Systemen wird empfohlen, sofern kein anderer Wert hinterlegt wurde, als Standardwert den Wert 0 für "nicht stillgelegt" anzugeben.</implementationHint>
                     </xs:appinfo>
                     <xs:documentation>Stillgelegt gibt an, ob eine Aktenplaneinheit inaktiv ist (Wert 1) oder nicht (Wert 0). Der Grund für eine Stilllegung kann eintreten, wenn z.B. auf einen bestimmten Zeitpunkt hin der alte Aktenplan "stillgelegt" und der neue Aktenplan in Kraft tritt - aktive Einheiten werden dann in den neuen Aktenplan übernommen, stillgelegte werden abgeschlossen und nicht übernommen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Aufbewahrungsdauer" type="xdomea:AufbewahrungsdauerType">
                  <xs:annotation>
                     <xs:documentation>Die Aufbewahrungsdauer legt fest, wie viele Jahre eine Akte oder ein Vorgang nach der Verfügung zur Akte (zdA-Verfügung) innerhalb der aktenführenden Stelle aufzubewahren ist oder ob die Aufbewahrung unbefristet erfolgen soll. Nach Ablauf der Aufbewahrungsfrist erfolgt die Aussonderung in Abhängigkeit von der Aussonderungsart.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Einheit"
                           minOccurs="0"
                           maxOccurs="unbounded"
                           type="xdomea:AktenplaneinheitAktenplanBewertungType">
                  <xs:annotation>
                     <xs:documentation>Eine Aktenplaneinheit, die hierarchisch einer anderen Aktenplaneinheit untergeordnet ist.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="VerweisAktenplaneinheit"
                           minOccurs="0"
                           maxOccurs="unbounded"
                           type="xs:string">
                  <xs:annotation>
                     <xs:documentation>Ein Verweis auf eine andere Aktenplaneinheit in einem aktuellen oder früheren Aktenplan.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="AnwendungsspezifischeErweiterung"
                           minOccurs="0"
                           type="xdomea:AnwendungsspezifischeErweiterungType">
                  <xs:annotation>
                     <xs:appinfo>
                        <implementationHint>Die Speicherung der nicht-auflösbaren Daten beim Empfang erfolgt in einer XML-Datei zum Schriftgutobjekt im empfangenden System. Die Umsetzung muss systemspezifisch gelöst werden - hierbei muss durch das System sichergestellt sein, dass die empfangenen Informationen nicht verloren gehen.</implementationHint>
                     </xs:appinfo>
                     <xs:documentation>AnwendungsspezifischeErweiterung darf nur dazu genutzt werden, weitere (z.B. fachspezifische) Metadaten zu spezifizieren, deren Übermittlung mit den bereits in xdomea spezifizierten Metadaten nicht möglich ist.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="AnwendungsspezifischeErweiterungXML"
                           minOccurs="0"
                           type="xdomea:AnwendungsspezifischeErweiterungXMLType">
                  <xs:annotation>
                     <xs:appinfo>
                        <implementationHint>Die Speicherung der nicht-auflösbaren Daten beim Empfang erfolgt in einer XML-Datei zum Schriftgutobjekt im empfangenden System. Die Umsetzung muss systemspezifisch gelöst werden - hierbei muss durch das System sichergestellt sein, dass die empfangenen Informationen nicht verloren gehen.</implementationHint>
                     </xs:appinfo>
                     <xs:documentation>AnwendungsspezifischeErweiterungXML darf nur dazu genutzt werden, weitere (z.B. fachspezifische) Metadaten zu spezifizieren, deren Übermittlung mit den bereits in xdomea spezifizierten Metadaten nicht möglich ist. Die AnwendungsspezifischeErweiterungXML bietet die Möglichkeit, mittels Einbindung externer XML-Schemata diese Metadaten zu spezifizieren. Es können beliebige XML-Schemata mit unterschiedlichen Namensräumen angegeben werden. Die XML-Schema-Validierung der weiterführenden Metadaten erfolgt innerhalb der xdomea-Nachricht selbst "lax".</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AktenplaneinheitAktenplanBewertungskatalogType">
      <xs:annotation>
         <xs:appinfo>
            <title>AktenplaneinheitAktenplanBewertungskatalog</title>
         </xs:appinfo>
         <xs:documentation>Eine Aktenplaneinheit gibt Auskunft über die hierarchische Strukturierung eines Aktenplans. Eine Aktenplanheit entspricht z.B. einer Hauptgruppe, Obergruppe, Gruppe, Untergruppe oder Betreffseinheit.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ID" type="xdomea:stringUUIDType">
            <xs:annotation>
               <xs:documentation>Die UUID der Aktenplaneinheit.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Aussonderungsart" type="xdomea:AussonderungsartType">
            <xs:annotation>
               <xs:appinfo>
                  <implementationHint>Die Aussonderungsart vererbt sich auf alle unter einer Hierarchiestufe angelegten Schriftgutobjekte.</implementationHint>
               </xs:appinfo>
               <xs:documentation>Die Aussonderungsart gibt das Ergebnis der archivischen Bewertung an. Die Aussonderungsart wird vom Aktenplan (zweistufiges Aussonderungsverfahren) auf zugehörige Akten und Vorgänge vererbt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ErfolgOderMisserfolgAussonderungType">
      <xs:annotation>
         <xs:appinfo>
            <title>ErfolgOderMisserfolgAussonderung</title>
         </xs:appinfo>
         <xs:documentation>Die Information zum erfolgreichen oder nicht erfolgreichen Import eines auszusondernden Schriftgutobjekts.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="IDSGO" type="xdomea:stringUUIDType">
            <xs:annotation>
               <xs:documentation>Die ID des Schriftgutobjekts, das ausgesondert werden sollte.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Erfolgreich" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Die Kennzeichnung des erfolgreichen oder nicht erfolgreichen Imports der Aussonderung zu einem Schriftgutobjekt. Der erfolgreiche Import wird mit 1 und der nicht erfolgreiche Import mit 0 gekennzeichnet.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Fehlermeldung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Erläuterung des Grundes als Freitext für den nicht erfolgreichen Import einer Aussonderung zu einem Schriftgutobjekt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FehlermeldungCode"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xdomea:SonstigeFehlermeldungCodeType">
            <xs:annotation>
               <xs:documentation>Erläuterung des Grundes als Code für den nicht erfolgreichen Import einer Aussonderung zu einem Schriftgutobjekt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Archivkennung" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation>Die ID, unter der das ausgesonderte Schriftgutobjekt im Archiv verwahrt wird. Für den Fall, dass "Erfolgreich" positiv belegt ist und von der aussondernden Behörde die Rückgabe der Archivkennungen gewünscht ist ("RueckmeldungArchivkennung" ist positiv belegt), können durch das archivierende System die Archivkennungen zu den einzelnen Schriftgutobjekt übergeben werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ErfolgOderMisserfolgBewertungskatalogType">
      <xs:annotation>
         <xs:appinfo>
            <title>ErfolgOderMisserfolgBewertungskatalog</title>
         </xs:appinfo>
         <xs:documentation>Die Information zum erfolgreichen oder nicht erfolgreichen Import einer zu bewertenden Aktenplaneinheit.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ID" type="xdomea:stringUUIDType">
            <xs:annotation>
               <xs:documentation>Die ID der Aktenplaneinheit, die bewertet werden sollte.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Erfolgreich" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Die Kennzeichnung des erfolgreichen oder nicht erfolgreichen Imports der Bewertung zu einer Aktenplaneinheit. Der erfolgreiche Import wird mit 1 und der nicht erfolgreiche Import mit 0 gekennzeichnet.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Fehlermeldung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Erläuterung des Grundes als Freitext für den nicht erfolgreichen Import einer Bewertung zu einer Aktenplaneinheit.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FehlermeldungCode"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xdomea:SonstigeFehlermeldungCodeType">
            <xs:annotation>
               <xs:documentation>Erläuterung des Grundes als Code für den nicht erfolgreichen Import einer Bewertung zu einer Aktenplaneinheit.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NkAussonderungType">
      <xs:annotation>
         <xs:appinfo>
            <title>NkAussonderung</title>
         </xs:appinfo>
         <xs:documentation>Der Kopf der Nachricht enthält allgemeine Informationen für den Empfänger einer Nachricht, bei der es sich um die konkrete Aussonderung handelt.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xdomea:NkBasisType">
            <xs:sequence>
               <xs:element name="Importbestaetigung" fixed="1" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>Die Angabe, dass eine Importbestätigung vom Empfänger der Nachricht erwünscht wird.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RueckmeldungArchivkennung" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>Die Angabe, ob die Rückübermittlung der Archivsignaturen vom Empfänger erwünscht wird. Sollen die Archivsignaturen übermittelt werden, so ist der Wert 1 anzugeben. Sollen keine Archivsignaturen übermittelt werden, so ist der Wert 0 anzugeben.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Empfangsbestaetigung" type="xs:boolean">
                  <xs:annotation>
                     <xs:appinfo>
                        <implementationHint>Für die Umsetzung in den Systemen wird empfohlen, sofern kein anderer Wert hinterlegt wurde, als Standardwert den Wert 0 für "keine Empfangsbestätigung senden" anzugeben.</implementationHint>
                     </xs:appinfo>
                     <xs:documentation>Die Angabe, ob vom Empfänger der Nachricht eine Empfangsbestätigung erwünscht wird. Eine erwünschte Empfangsbestätigung wird mit 1 gekennzeichnet. Wird keine Empfangsbestätigung gewünscht, so wird dies mit 0 gekennzeichnet.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RueckgabeparameterAnbietungType">
      <xs:annotation>
         <xs:appinfo>
            <title>RueckgabeparameterAnbietung</title>
         </xs:appinfo>
         <xs:documentation>Die Rückmeldung des Archivs zu einem zur Bewertung übergegebenen Schriftgutobjekt zur Steuerung des weiteren Aussonderungsprozesses.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ID" type="xdomea:stringUUIDType">
            <xs:annotation>
               <xs:documentation>Die UUID des angebotenen Schriftgutobjektes, in der Regel die eines Vorgangs.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Aussonderungsart" type="xdomea:AussonderungsartType">
            <xs:annotation>
               <xs:documentation>Die Beschreibung des Bewertungsergebnisses für ein angebotenes Schriftgutobjekt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
